 <div class="well">
        <!-- Marketing Icons Section -->
      
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-lg-4">
                <img src="https://i.imgur.com/ABXNXUW.png" height="300" width="450" alt=""/>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-12">
                <h1 class="page-header">
                    School Trasportation, Solved.
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Try ShortRoute</h4>
                    </div>
                    <div class="panel-body">
                        <p>Try out our service for yourself, and learn firsthand about all the benefits ShortRoute offers.</p>
                        <a href="/auth/login" class="btn btn-default">Try me!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Information</h4>
                    </div>
                    <div class="panel-body">
                        <p>ShortRoute is a service that provides schools with the tools they need to manage their student transportation and make the most of it.</p>
                        <a href="/home/info" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <img class="img-responsive img-portfolio img-hover" src="https://corporate.target.com/_media/TargetCorp/csr/field_trip_grants.jpg?width=655&height=357&ext=.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Features</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3>Optimal Route Calculation</h3>
                <a href="/auth/login">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.travelbymoto.com/wp-content/uploads/2015/02/vietnam-route-map.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3>Client, Bus and Driver Database</h3>
                <a href="/auth/login">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.crisisprevention.com/getattachment/3f248057-941a-45d0-82b0-2269ef387940/Blog/January-2016/Special-Needs-School-Bus-Supervisor-Featured-on-Un" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3>Tracking and Control for Parents</h3>
                <a href="/auth/login">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.crisisprevention.com/getattachment/2d0b29b7-fdd2-464c-bde2-22d466e661a1/Blog/October-2014/Creating-a-Safe-Environment-on-the-School-Bus" alt="">
                </a>
            </div>
           <!-- <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>-->
        </div>
        <!-- /.row -->

        <!-- Features Section
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"> Features</h2>
            </div>
            <div class="col-md-6">
                <p>------------------------------</p>
                <ul>
                    <li><strong>Bootstrap v3.2.0</strong>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Would you like to contract ShortRoute for your school? Follow this link to find out how.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Contact information</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ShortRoute 2016</p>
                </div>
            </div>
        </footer>
    </div>
