<div class="well">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="page-header">What is ShortRoute?</h2>
        </div>
        <div class="col-sm-8"><p>ShortRoute is a service designed to apply today's technology to school transportation management.
            We wish to provide a robust platform that simplifies the organization and logistics required for such a system.</p>
        <p>
            We implement a database designed to store the critical information that the system requires, and the tools to manage it.
            We also offer tools for parents to track the buses and control their information. That way, they know their children are in proper care.
            We also have a helping system for drivers using the latest GPS technology. The system calculates the optimal route to pick up all the students and then guides the driver through it.</p>
        <p>
            We hope to fullfil our client's expectations, and that our service simplifies transportation management forever.</p>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i>Try ShortRoute</h4>
                </div>
                <div class="panel-body">
                    <p>Try out our service for yourself, and learn firsthand about all the benefits ShortRoute offers.</p>
                <%= link_to "Try me!", new_user_registration_path ,class:"btn btn-default"%> 
                </div>
            </div>
        </div>
    </div>
</div>