// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


td {
	text-align: center;
}
#map {

        height: 400px;
        border-radius: 16px 16px;
        border-color: #fff;
        border-style: solid;
        box-shadow: 2px 2px 10px #B1B1B1;
        margin-top: 25px;
        border-width: 7px;
        width: 100%;
        margin: auto;
        }
.conteiner {
	border-radius: 16px 16px;
        border-color: #8E8787;
        border-style: solid;
        border-width: 3px;
}

.mysiderbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.mysiderbar li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.mysiderbar li a:hover {
    background-color: #555;
    color: white;
}

#driver {
    display: none;
}